.bg-blue-one{
    background-color: #367fa9 !important;
}
.bg-blue-two{
    background-color: #3c8dbc !important;
}
.gray-main-back{
    background-color: #ecf0f5;
}
.dashboard .user-panel aside .image-right img{
    width: 40px !important;
}
.dashboard .user-panel aside .menu{
    background-color: #1a2226;
    color: #4b646f;
}
